body {
    background: #272727;
    font-family: 'Inter', sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1200px;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: white;
    position: relative;
    margin: 0 auto;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 200px;
    
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 5px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #B91E8E;
}

.logo {
    height: 100px;
}
.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #272727; 
    border: 2px solid #B91E8E; 
    min-width: 1200px;
    z-index: 10;
    padding: 10px 0px;
    margin-top: 20px;
}


.dropdown-menu a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.2s;
}

.dropdown-menu a:hover {
    background-color: #636363;
    color: #ffffff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 15px;
}

/* --- FOOTER --- */
.footer {
    background: black;
    padding: 80px 10% 40px 10%;
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 50px;
}

.footer-about h4 { 
    margin-bottom: 20px; 
    color: #fff; 
    margin-top: 0px;
}
.footer-about p { 
    color: #888; 
    line-height: 1.6; 
    font-size: 14px;
    width: 300px;
}

.footer-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-logo {
    justify-content: center;
    display: block;
    width: 1000px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    color: #B91E8E;
    height: 45px;
}

.copyright {
    text-align: center;
    color: #555;
    font-size: 12px;
}